@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

        html {
            scroll-behavior: smooth;
        }

        body {
            background-color: hsl(0, 0%, 11%);
            min-height: 100vh;
            margin: 0;
            font-family: "Roboto", sans-serif;
        }

        body:before {
            content: "";
            position: fixed;
            top: 0px;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
            width: 0.25rem;
            background-color: hsl(0, 0%, 100%);
        }

        body .entries {
            width: calc(100% - 5rem);
            max-width: 62.5rem;
            margin: auto;
            position: relative;
            left: -0.25rem;
        }

        body .entries .entry {
            width: calc(50% - 5rem);
            float: left;
            padding: 1.25rem;
            clear: both;
            text-align: justify;
        }

        body .entries .entry:not(:first-child) {
            margin-top: -3.75rem;
        }

        body .entries .entry .title {
            font-size: 2rem;
            margin-bottom: 0.75rem;
            position: relative;
            color: hsl(0, 0%, 100%);
        }

        body .entries .entry .title:before {
            content: "";
            position: absolute;
            width: 0.5rem;
            height: 0.5rem;
            border: 0.25rem solid hsl(0, 0%, 100%);
            background-color: hsl(0, 0%, 53%);
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
            right: -4.5rem;
            z-index: 1000;
        }

        body .entries .entry .title.big:before {
            width: 1.5rem;
            height: 1.5rem;
            transform: translate(0.5rem, -50%);
        }

        body .entries .entry .entry_image {
            display: block;
            width: 100%;
            aspect-ratio: 16 / 9;
            object-position: center;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        body .entries .entry .body {
            color: hsl(0, 0%, 67%);
        }

        body .entries .entry .body .highlight {
            line-height: 1.4em;
            font-weight: 700;
            text-transform: uppercase;
        }

        body .entries .entry .body p {
            line-height: 1.4em;
        }

        body .entries .entry:nth-child(2n) {
            text-align: justify;
            float: right;
        }

        body .entries .entry:nth-child(2n) .title:before {
            left: -4rem;
        }

        body .entries .entry:nth-child(2n) .title.big:before {
            transform: translate(-0.5rem, -50%);
        }

        #top_btn {
            display: none;
            position: fixed;
            bottom: 1.25rem;
            right: 2rem;
            z-index: 2000;
            font-size: 1.2rem;
            border: none;
            outline: none;
            background-color: hsl(0, 0%, 20%);
            color: hsl(0, 0%, 100%);
            cursor: pointer;
            padding: 1rem;
            border-radius: 0.25rem;
        }

        #top_btn:hover {
            background-color: hsl(0, 0%, 33%);
        }
